<div class="container" id="sp">
    <h1>Success!</h1>
    <h2>Payment recieved!</h2>
    <h2>Thank you for your payment</h2>
    <h3>You can create post now ..</h3>
    <br>
    <a href="/displayPostForm"><button class="btn btn-success" type="button">Create Post</button></a>
</div>